/* comandi generali */

body{
    background-color: rgb(230, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
}

/***** header ******/

.logo{
    position: relative;
    background-color: white;
    margin: -7px;
}

.logo_img{
    width: 100px;
}

.logo_text{
    display: inline-block;
    position: absolute;
    top: 8px;
    font-size: 35px;
}


/***** main *****/

.container{
    background-color:white;
    width: 950px;
    margin: 2.5rem auto;
    border-radius: 8px;
}

.parte-alta{
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(230, 223, 223);
    ;
}

#addTask{
    color: white;
    background-color: rgb(68, 154, 211);
    border: 0.5px solid rgb(68, 154, 211);
    border-radius: 5px;
    padding: 5px;
}

#addSection{
    color: rgb(158, 156, 156);
    border: 0.5px solid grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

/* seconda sezione del MAIN */

.struttura{
    padding-left: 50px;
}

.struttura>p{
    display: inline-block;
    margin: 12px;
}

#task{
    margin-top: 40px;
    margin-bottom: 0;
}
.bottone.azzurro{
    display: inline-block;
    color: white;
    background-color: rgb(68, 154, 211);
    border: 0.5px solid rgb(68, 154, 211);
    border-radius: 13px;
    padding: 5px;
}

.spunta-verde, .spunta-rossa{
    width: 20px;
    vertical-align: sub;
}

/* terza parte del MAIN */

#today{
    margin-bottom: 0;
}

.bottone.viola{
    color: white;
    background-color: rgb(151, 72, 151);
    border: 0.5px solid rgb(151, 72, 151);
    border-radius: 13px;
    padding: 5px;
}

.bottone.verde{
    color: white;
    background-color: rgb(31, 88, 31);
    border: 0.5px solid rgb(31, 88, 31);
    border-radius: 13px;
    padding: 5px;
}

.bottone.arancione{
    color: white;
    background-color: orangered;
    border: 0.5px solid orangered;
    border-radius: 13px;
    padding: 5px;
}
